In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [27]:
engine = create_engine('mysql+mysqlconnector://shvmpz:Pioneer.254@localhost:3306/telco_churn')

In [28]:
tables = pd.read_sql_query("SHOW TABLES", engine)
tables.head()

Empty DataFrame
Columns: [Tables_in_telco_churn]
Index: []

In [29]:
customer_data = pd.read_sql_query("SELECT * FROM customer_table", engine)
billing_data = pd.read_sql_query("SELECT * FROM billing_table", engine)
service_data = pd.read_sql_query("SELECT * FROM service_table", engine)
streaming_data = pd.read_sql_query("SELECT * FROM streaming_table", engine)
security_data = pd.read_sql_query("SELECT * FROM security_table", engine)
query = """SELECT * FROM customer_table
JOIN billing_table ON customer_table.customerid = billing_table.customerid
JOIN service_table ON customer_table.customerid = service_table.customerid
JOIN streaming_table ON customer_table.customerid = streaming_table.customerid
JOIN security_table ON customer_table.customerid = security_table.customerid"""
telco_data = pd.read_sql_query(query, engine)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'telco_churn.customer_table' doesn't exist
[SQL: SELECT * FROM customer_table]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
telco_data.head()

In [ ]:
# Merge customer_data and billing_data
customer_billing = pd.merge(customer_data, billing_data, on='customerid', suffixes=('_left', '_right'))

# Merge the result with service_data
customer_billing_service = pd.merge(customer_billing, service_data, on='customerid', suffixes=('_left1', '_right1'))

# Merge the result with streaming_data
customer_billing_service_streaming = pd.merge(customer_billing_service, streaming_data, on='customerid', suffixes=('_left3', '_right3'))

# Finally, merge the result with security_data
customer_churn_data_combined = pd.merge(customer_billing_service_streaming, security_data, on='customerid', suffixes=('_left2', '_right2'))

In [ ]:
customer_churn_data_combined.head

In [ ]:
customer_churn_data_combined.head()

In [ ]:
customer_billing = pd.merge(customer_data, billing_data, on='customerid')

In [2]:
customer_billing.shape

NameError: name 'customer_billing' is not defined

In [3]:
customer_billing = customer_billing.drop(['customerid', 'id'], axis=1)

NameError: name 'customer_billing' is not defined

<!DOCTYPE html>
<html>
<head>
    <title>Column Value Transformation</title>
</head>
<body>
    <h1>Transforming Column Values</h1>
    <p>Handling the categorical data in the columns contract and payment method.</p>
</body>
</html>

In [4]:
customer_billing.sample(5)

NameError: name 'customer_billing' is not defined

In [5]:
customer_billing = pd.get_dummies(customer_billing, columns=['contract', 'paymentmethod'], drop_first=True)

NameError: name 'customer_billing' is not defined

In [6]:
customer_billing.sample(5)

NameError: name 'customer_billing' is not defined

In [7]:
customer_billing = pd.get_dummies(customer_billing, columns=["churn"], drop_first=True)

NameError: name 'customer_billing' is not defined

In [ ]:
customer_billing.sample(5)

<!DOCTYPE html>
<html>
<head>
    <title>Data Preprocessing dummies</title>
</head>
<body>
    <h1>Data Preprocessing for Machine Learning</h1>
    <p>In the current project, we are dealing with a dataset that contains categorical data. Categorical data is a type of data that can take on one of a limited number of categories. For example, in our dataset, the 'contract' and 'paymentmethod' columns contain various categories.</p>
    <p>Most machine learning algorithms require numerical input and output variables. So, we need to convert these categorical data into a numerical format. One common technique for this conversion is called one-hot encoding.</p>
    <p>In pandas, the <code>get_dummies</code> function is used to convert categorical variable(s) into dummy/indicator variables. For each unique value in the categorical column, it creates a new column that represents whether the record has that value. If the record has that value, it will be 1, otherwise it will be 0.</p>
    <p>Here's how we can apply this in our project:</p>
    <pre>
    <code>
    customer_billing = pd.get_dummies(customer_billing, columns=["partner", "dependants", "paperlessbilling"], drop_first=True)
    </code>
    </pre>
    <p>The <code>drop_first=True</code> argument is used to avoid the dummy variable trap, which is a scenario in which the independent variables are multicollinear.</p>
</body>
</html>

In [8]:
customer_billing = pd.get_dummies(customer_billing, columns=["partner", "dependents", "paperlessbilling"], drop_first=True)

NameError: name 'customer_billing' is not defined

In [9]:
customer_billing.sample(5)

NameError: name 'customer_billing' is not defined

<!DOCTYPE html>
<html>
<head>
    <title>Conducting exploratory analysis</title>
</head>
<body>
    <h1>Exploratory Data Analysis</h1>
    <p>Exploratory data analysis (EDA) is an approach to analyzing datasets to summarize their main characteristics, often with visual methods. It helps us to understand the data, discover patterns, spot anomalies, and check assumptions.</p>
    <p>Here are some common techniques used in EDA:</p>
    <ul>
        <li>Descriptive statistics: Summarizing the data using its key characteristics, such as the mean, median, mode, standard deviation, and range.</li>
        <li>Grouping data: Using aggregation and grouping methods to understand the relationships between variables.</li>
        <li>Data visualization: Creating charts, plots, and graphs to visually represent the data.</li>
        <li>Correlation analysis: Examining the relationships between variables to identify patterns and trends.</li>
    </ul>
    <p>Let's conduct some exploratory analysis on our dataset to understand the relationships between different variables.</p>

In [10]:
import sys
print(sys.executable)

/home/shvmpz/PycharmProjects/DATA-ENGINEERING/machine learning spark/venv/bin/python3

In [11]:
import os

# Get the matplotlib path
matplotlib_path = "C:\\Users\\shvmpz\\PycharmProjects\\pythonProject\\venv\\Lib\\site"

# Add the matplotlib path to the PYTHONPATH environment variable
os.environ["PYTHONPATH"] += os.pathsep + matplotlib_path

# Verify if the path has been added successfully
print(os.environ["PYTHONPATH"])
#print current working directory
print(os.getcwd())

/home/shvmpz/PycharmProjects/DATA-ENGINEERING:C:\Users\shvmpz\PycharmProjects\pythonProject\venv\Lib\site
/home/shvmpz/PycharmProjects/DATA-ENGINEERING/machine learning spark

In [12]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [13]:
#total customers
customer_count = len(customer_billing['churn_Yes'])
churned = len(customer_billing[customer_billing['churn_Yes'] == 1])
not_churned = len(customer_billing[customer_billing['churn_Yes'] == 0])

NameError: name 'customer_billing' is not defined

In [14]:
print ("churned : {},\n not_churned {} \n total customers: {}".format(churned, not_churned, customer_count))

NameError: name 'churned' is not defined

In [15]:
category = ['Churned', 'Not Churned']
values = [(churned * 100 / customer_count), (not_churned * 100 / customer_count)]
bars = plt.bar(category, values)
for bar in bars:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval + 1, round(yval, 2), ha='center', va='bottom')

plt.title('Customer Churn')
plt.show()

NameError: name 'churned' is not defined

In [16]:
# summary of table data
customer_billing.describe()

NameError: name 'customer_billing' is not defined

In [17]:
telco = customer_churn_data_combined.copy()

NameError: name 'customer_churn_data_combined' is not defined

In [18]:
telco = telco.drop(['id_right', 'id'], axis=1)

NameError: name 'telco' is not defined

In [19]:
telco.totalcharges = pd.to_numeric(telco.totalcharges, errors='coerce')
telco.isnull().sum()

NameError: name 'telco' is not defined

In [20]:
# drop unesecarry id columns
telco = telco.drop(['id_right2'], axis=1)

NameError: name 'telco' is not defined

In [21]:
telco.loc[telco.totalcharges.isnull() == True]

NameError: name 'telco' is not defined

In [22]:
telco.dropna(how='any', inplace=True)

NameError: name 'telco' is not defined

In [23]:
print(telco['tenure'].max())

NameError: name 'telco' is not defined

In [24]:
labels = ["{0} - {1}".format(i, i + 11) for i in range(1, 72, 12)]
telco['tenure_group'] = pd.cut(telco.tenure, range(1, 80, 12), right=False, labels=labels)

NameError: name 'telco' is not defined

In [25]:
print(labels)

['1 - 12', '13 - 24', '25 - 36', '37 - 48', '49 - 60', '61 - 72']

In [26]:
telco['tenure_group'].value_counts()

NameError: name 'telco' is not defined

In [27]:
# Remove columns we dont need for the model
telco.drop(columns=['customerid', 'tenure'], axis=1, inplace=True)

NameError: name 'telco' is not defined

In [28]:
telco.head()

NameError: name 'telco' is not defined

In [29]:
import seaborn as sns
for i, predictor in enumerate(telco.drop(columns=['churn', 'totalcharges', 'monthlycharges'])):
    plt.figure(i)
    sns.countplot(data=telco, x=predictor, hue='churn')

ModuleNotFoundError: No module named 'seaborn'

In [30]:
# Conver the churn to binary with 1 as yes and 0 as no
import numpy as np
telco['churn'] = np.where(telco.churn == 'Yes', 1, 0)

NameError: name 'telco' is not defined

In [31]:
telco.head()

NameError: name 'telco' is not defined

In [32]:
# convert categorical data to using dummy library
telco_dummies = pd.get_dummies(telco)
telco_dummies.head()

NameError: name 'telco' is not defined

In [33]:
# motnly charges and total relationship
sns.lmplot(data=telco, x='monthlycharges', y='totalcharges', fit_reg=False)

NameError: name 'sns' is not defined

In [34]:
Mth = sns.kdeplot(telco_dummies.monthlycharges[(telco_dummies["churn"] == 0) ],
                color="Red", fill = True)
Mth = sns.kdeplot(telco_dummies.monthlycharges[(telco_dummies["churn"] == 1) ],
                ax =Mth, color="Blue", fill= True)
Mth.legend(["No Churn","Churn"],loc='upper right')
Mth.set_ylabel('Density')
Mth.set_xlabel('Monthly Charges')
Mth.set_title('Monthly charges by churn')

NameError: name 'sns' is not defined

In [35]:
Tot = sns.kdeplot(telco_dummies.totalcharges[(telco_dummies["churn"] == 0) ],
                color="Red", fill = True)
Tot = sns.kdeplot(telco_dummies.totalcharges[(telco_dummies["churn"] == 1) ],
                ax =Tot, color="Blue", fill= True)
Tot.legend(["No Churn","Churn"],loc='upper right')
Tot.set_ylabel('Density')
Tot.set_xlabel('Total Charges')
Tot.set_title('Total charges by churn')

NameError: name 'sns' is not defined

In [36]:
plt.figure(figsize=(20,8))
telco_dummies.corr()['churn'].sort_values(ascending = False).plot(kind='bar')

NameError: name 'plt' is not defined

In [37]:
new_df1_target0=telco.loc[telco["churn"]==0]
new_df1_target1=telco.loc[telco["churn"]==1]

NameError: name 'telco' is not defined

In [38]:
def uniplot(df,col,title,hue =None):

    sns.set_style('whitegrid')
    sns.set_context('talk')
    plt.rcParams["axes.labelsize"] = 20
    plt.rcParams['axes.titlesize'] = 22
    plt.rcParams['axes.titlepad'] = 30

    temp = pd.Series(data = hue)
    fig, ax = plt.subplots()
    width = len(df[col].unique()) + 7 + 4*len(temp.unique())
    fig.set_size_inches(width , 8)
    plt.xticks(rotation=45)
    # plt.yscale('log')  # Commented out to set y-axis scale to linear
    plt.title(title)
    ax = sns.countplot(data = df, x= col, order=df[col].value_counts().index,hue = hue,palette='bright')

    plt.show()

In [39]:
uniplot(new_df1_target1,col='partner',title='Distribution of Gender for Churned Customers',hue='gender')

NameError: name 'new_df1_target1' is not defined

In [40]:
uniplot(new_df1_target0,col='partner',title='Distribution of Gender for Non Churned Customers',hue='gender')

NameError: name 'new_df1_target0' is not defined

In [41]:
uniplot(new_df1_target1,col='paymentmethod',title='Distribution of PaymentMethod for Churned Customers',hue='gender')

NameError: name 'new_df1_target1' is not defined

In [42]:
uniplot(new_df1_target1,col='contract',title='Distribution of Contract for Churned Customers',hue='gender')

NameError: name 'new_df1_target1' is not defined

In [43]:
uniplot(new_df1_target1,col='techsupport',title='Distribution of TechSupport for Churned Customers',hue='gender')

NameError: name 'new_df1_target1' is not defined

In [44]:
uniplot(new_df1_target1,col='seniorcitizen',title='Distribution of SeniorCitizen for Churned Customers',hue='gender')

NameError: name 'new_df1_target1' is not defined

In [45]:
telco_dummies.to_csv('tel_churn.csv')

NameError: name 'telco_dummies' is not defined