In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
%load_ext sql   
engine = create_engine('mysql+mysqlconnector://root:toor@localhost:3306/telco_churn')

In [3]:
%sql mysql+mysqlconnector://root:toor@localhost:3306/telco_churn

In [4]:
%%sql
select 
    count(distinct customerid) as total_customers
    from customer_table;

 * mysql+mysqlconnector://root:***@localhost:3306/telco_churn
1 rows affected.

[(7043,)]

In [5]:
tables = pd.read_sql_query("SHOW TABLES", engine)
tables.head()

  Tables_in_telco_churn
0         billing_table
1        customer_table
2        security_table
3         service_table
4       streaming_table

In [6]:
customer_data = pd.read_sql_query("SELECT * FROM customer_table", engine)
billing_data = pd.read_sql_query("SELECT * FROM billing_table", engine)
service_data = pd.read_sql_query("SELECT * FROM service_table", engine)
streaming_data = pd.read_sql_query("SELECT * FROM streaming_table", engine)
security_data = pd.read_sql_query("SELECT * FROM security_table", engine)

In [7]:
# Merge customer_data and billing_data
customer_billing = pd.merge(customer_data, billing_data, on='customerid', suffixes=('_left', '_right'))

# Merge the result with service_data
customer_billing_service = pd.merge(customer_billing, service_data, on='customerid', suffixes=('_left1', '_right1'))

# Merge the result with streaming_data
customer_billing_service_streaming = pd.merge(customer_billing_service, streaming_data, on='customerid', suffixes=('_left3', '_right3'))

# Finally, merge the result with security_data
customer_churn_data_combined = pd.merge(customer_billing_service_streaming, security_data, on='customerid', suffixes=('_left2', '_right2'))

In [8]:
customer_data.shape

(7043, 5)

In [9]:
customer_churn_data_combined.shape

(7043, 24)

In [10]:
customer_billing = pd.merge(customer_data, billing_data, on='customerid')

In [11]:
customer_billing.shape

(7043, 12)

In [12]:
customer_billing = customer_billing.drop(['customerid', 'id'], axis=1)

<!DOCTYPE html>
<html>
<head>
    <title>Column Value Transformation</title>
</head>
<body>
    <h1>Transforming Column Values</h1>
    <p>Handling the categorical data in the columns contract and payment method.</p>
</body>
</html>

In [13]:
customer_billing.sample(5)

,gender,seniorcitizen,partner,dependents,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
5965,Female,0,Yes,Yes,Month-to-month,Yes,Electronic check,25.25,394.85,No
1772,Female,0,No,No,One year,No,Bank transfer (automatic),19.75,989.05,No
1510,Male,0,No,No,Month-to-month,Yes,Mailed check,45.15,438.40,Yes
5844,Male,0,No,Yes,Two year,No,Mailed check,25.00,1004.35,No
1089,Male,0,No,No,Month-to-month,No,Mailed check,51.50,900.50,Yes

In [14]:
customer_billing = pd.get_dummies(customer_billing, columns=['contract', 'paymentmethod'], drop_first=True)

In [15]:
customer_billing.sample(5)

,gender,seniorcitizen,partner,dependents,paperlessbilling,monthlycharges,totalcharges,churn,contract_One year,contract_Two year,paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
3209,Female,0,No,No,Yes,53.6,2879.20,No,True,False,False,True,False
4409,Male,0,No,No,Yes,99.7,1566.75,No,False,False,False,True,False
5562,Male,0,Yes,Yes,Yes,76.4,3966.30,No,True,False,False,False,False
1871,Female,1,Yes,Yes,No,46.0,181.60,Yes,False,False,False,True,False
2850,Female,0,No,No,Yes,70.4,2406.10,No,False,False,False,False,False

In [16]:
customer_billing = pd.get_dummies(customer_billing, columns=["churn"], drop_first=True)

In [17]:
customer_billing.sample(5)

,gender,seniorcitizen,partner,dependents,paperlessbilling,monthlycharges,totalcharges,contract_One year,contract_Two year,paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check,churn_Yes
2137,Female,0,No,No,No,25.85,25.85,True,False,False,False,True,False
2524,Male,0,Yes,Yes,Yes,109.20,6741.15,False,True,True,False,False,False
4715,Female,1,No,No,No,78.85,1043.80,False,False,False,True,False,False
1578,Female,0,No,No,No,20.05,741.50,False,True,False,False,True,False
2932,Female,0,No,No,Yes,70.70,2511.95,True,False,False,False,True,False

<!DOCTYPE html>
<html>
<head>
    <title>Data Preprocessing dummies</title>
</head>
<body>
    <h1>Data Preprocessing for Machine Learning</h1>
    <p>In the current project, we are dealing with a dataset that contains categorical data. Categorical data is a type of data that can take on one of a limited number of categories. For example, in our dataset, the 'contract' and 'paymentmethod' columns contain various categories.</p>
    <p>Most machine learning algorithms require numerical input and output variables. So, we need to convert these categorical data into a numerical format. One common technique for this conversion is called one-hot encoding.</p>
    <p>In pandas, the <code>get_dummies</code> function is used to convert categorical variable(s) into dummy/indicator variables. For each unique value in the categorical column, it creates a new column that represents whether the record has that value. If the record has that value, it will be 1, otherwise it will be 0.</p>
    <p>Here's how we can apply this in our project:</p>
    <pre>
    <code>
    customer_billing = pd.get_dummies(customer_billing, columns=["partner", "dependants", "paperlessbilling"], drop_first=True)
    </code>
    </pre>
    <p>The <code>drop_first=True</code> argument is used to avoid the dummy variable trap, which is a scenario in which the independent variables are multicollinear.</p>
</body>
</html>

In [18]:
customer_billing = pd.get_dummies(customer_billing, columns=["partner", "dependents", "paperlessbilling"], drop_first=True)

In [19]:
customer_billing.sample(5)

,gender,seniorcitizen,monthlycharges,totalcharges,contract_One year,contract_Two year,paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check,churn_Yes,partner_Yes,dependents_Yes,paperlessbilling_Yes
3379,Female,0,25.15,99.95,False,False,False,True,False,False,True,False,True
4621,Male,0,81.00,3084.90,False,True,True,False,False,False,True,True,False
6296,Male,0,65.60,4566.50,False,True,False,False,False,False,False,False,True
2211,Male,0,45.85,45.85,False,False,False,False,True,True,True,True,True
2164,Female,0,100.70,6018.65,True,False,True,False,False,False,True,True,True

<!DOCTYPE html>
<html>
<head>
    <title>Conducting exploratory analysis</title>
</head>
<body>
    <h1>Exploratory Data Analysis</h1>
    <p>Exploratory data analysis (EDA) is an approach to analyzing datasets to summarize their main characteristics, often with visual methods. It helps us to understand the data, discover patterns, spot anomalies, and check assumptions.</p>
    <p>Here are some common techniques used in EDA:</p>
    <ul>
        <li>Descriptive statistics: Summarizing the data using its key characteristics, such as the mean, median, mode, standard deviation, and range.</li>
        <li>Grouping data: Using aggregation and grouping methods to understand the relationships between variables.</li>
        <li>Data visualization: Creating charts, plots, and graphs to visually represent the data.</li>
        <li>Correlation analysis: Examining the relationships between variables to identify patterns and trends.</li>
    </ul>
    <p>Let's conduct some exploratory analysis on our dataset to understand the relationships between different variables.</p>

In [20]:
import sys
print(sys.executable)

C:\Users\shvmpz\AppData\Local\Programs\Python\Python311\python.exe

In [21]:
import os

# Get the matplotlib path
matplotlib_path = "C:\\Users\\shvmpz\\PycharmProjects\\pythonProject\\venv\\Lib\\site"

# Add the matplotlib path to the PYTHONPATH environment variable
os.environ["PYTHONPATH"] += os.pathsep + matplotlib_path

# Verify if the path has been added successfully
print(os.environ["PYTHONPATH"])
#print current working directory
print(os.getcwd())

C:\Users\shvmpz\Desktop\DATA ENGINEERING;C:\Users\shvmpz\PycharmProjects\pythonProject\venv\Lib\site
C:\Users\shvmpz\Desktop\DATA ENGINEERING\DATA-ENGINEERING\machine learning spark

In [22]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Lasso
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
!pip show matplotlib
import sys
print(sys.executable)

In [ ]:
#total customers
customer_count = len(customer_billing['churn_Yes'])
churned = len(customer_billing[customer_billing['churn_Yes'] == 1])
not_churned = len(customer_billing[customer_billing['churn_Yes'] == 0])

In [ ]:
print ("churned : {},\n not_churned {} \n total customers: {}".format(churned, not_churned, customer_count))

In [ ]:
category = ['Churned', 'Not Churned']
values = [(churned * 100 / customer_count), (not_churned * 100 / customer_count)]
bars = plt.bar(category, values)
for bar in bars:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval + 1, round(yval, 2), ha='center', va='bottom')

plt.title('Customer Churn')
plt.show()

In [ ]:
# summary of table data
customer_billing.describe()

In [ ]:
X_features =( customer_billing[['totalcharges', 'monthlycharges', 'seniorcitizen', 'contract_Two year']])
X_features = X_features.fillna(X_features.mean())
X_test = X_features.fillna(X_features.mean())
y_target = customer_billing['churn_Yes']

X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size=0.3, random_state=42)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)


print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(accuracy_score(y_test, y_pred)))

In [ ]:
names = X_features.columns
alpha_values = [0.1, 0.5, 1, 5, 10, 50, 100, 500, 1000]
lasso = Lasso(alpha=0.5, max_iter=100000)
lasso_coef = lasso.fit(X_features, y_target).coef_

plt.bar(names, lasso_coef)
plt.xticks(rotation=45)
plt.show()